@media (min-width: 280px) and (max-width: 991.98px){
    .header .header-wrapper .logo img {
        max-height: 40px;
    }
    .hero{
       padding-top: 80px;
    }
    .hero .hero-wrapper h1 {
        font-size: 24px;
        line-height: 40px;
    }
    .hero .hero-wrapper h1 .hero-bold-text {
        font-size: 30px;
    }
    .hero .hero-wrapper p {
        font-size: 15px;
        line-height: 24px;
    }
    .hero .hero-wrapper .hero-action a {
        padding: 10px 18px;
        font-size: 15px;
    }
    .hero .hero-wrapper h1 .hero-graph img {
        max-width: 140px;
        bottom: -10px;
    }
    .section-heading h2 {
        font-size: 24px;
        line-height: 36px;
    }
    .feature-wrapper::after {
        display: none;
    }
    .feature-wrapper .feature-wrap {
        border-right: none;
    }
    .feature-wrapper {
        margin: 30px auto 0;
    }
    .map-text {
        font-size: 26px;
        line-height: 38px;
    }
    
    .counter-section .counter-wrappe .counter-wrap {
        margin-top: 20px;
    }
    .pricing-wrapper {
        padding: 50px 0 40px 0;
    }
    .section-padding {
        padding: 40px 0;
    }
    .pricing-card {
        min-height: auto;
    }
    .faq .faq-wrapper .faq-text {
        display: none;
    }
    .faq .faq-wrapper .faq-wrap {
        margin-top: 20px;
        padding-left: 0px;
    }
    .faq .faq-wrapper .faq-wrap .accordion-header .accordion-button{
        line-height: 23px;
        font-size: 18px;
    }
    .faq .faq-wrapper .faq-wrap .accordion-header .accordion-button:not(.collapsed) {
        line-height: 23px;
        font-size: 18px;
    }
    .footer .footer-main-content .footer-main-wrapper .footer-main-wrap ul li a {
        font-size: 14px;
        word-break: break-all;
    }
}